html,body {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signup-container {
    border: 1px solid gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    margin-bottom: 10rem;
}

.signup-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: .75px solid gray;
}

.navbar-close-icon {
    cursor: pointer;
}

.signup-header {
    margin: 0 auto;
    user-select: none;
}

.navbar-form {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 1.70rem;
}

.name-section {
    display: flex;
    flex-direction: column;
}

.input-fields {
    border: .5px solid gray;
    padding: .75rem;
    font-size: 1rem;
}

.first {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.last {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.signup-paragraph {
    color: gray;
    font-size: .85rem;
    margin-bottom: 2rem;
    margin-top: .5rem;
}

.birthdate {
    border-radius: 7px;
}

.checkbox-section {
    display: flex;
    align-items: center;
    font-size: .90rem;
}

.checkbox {
    margin-right: .75rem;
}

.airbnb-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff; /* White text */
    background-color: #FF5A5F; /* Airbnb's pink-red color */
    border: none;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    text-align: center;
    text-decoration: none; /* Remove underline if the button is a link */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.airbnb-button:hover {
    background-color: #FF3D46; /* Slightly darker pink-red color on hover */
}
